<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Log in</title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>

    <div id="navPlaceholder" src="Navbar.html"></div>
    <script>
        $(document).ready(function () {
            $("#navPlaceholder").load("Navbar.html");
        });
    </script>


    <div class="col-md-6">
        <h1>User Rankings</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Wins</th>
                    <th>Losses</th>
                </tr>
            </thead>
            <tbody>
               <!-- <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr> -->
            </tbody>
        </table>
        </div>
</body>
</html>