
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Single Game</title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>

    <div id="navPlaceholder" src="Navbar.html"></div>
    <script>
        $(document).ready(function () {
            $("#navPlaceholder").load("Navbar.html");
        });
    </script>

    <div class="container body-content">
        <h2>Single Player Game</h2><hr />
        <div class="col-sm-4 form-horizontal">
            <div class="form-group">
                <label for="mazeName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mazeName" />
                </div>
            </div>

            <div class="form-group">
                <label for="mazeRows" class="col-sm-2 control-label">Rows</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="mazeRows" />
                </div>
            </div>

            <div class="form-group">
                <label for="mazeCols" class="col-sm-2 control-label">Cols</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="mazeCols" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <button class="btn btn-default" id="startBtn">Start New Game</button>
                </div>
            </div>
            
            
            <div class="form-group">
                <label for="algo" class="col-sm-2 control-label">Search Algo</label>
                <div class="col-sm-10">
                    <select class="selectpicker form-control" id="algo">
                        <option>BFS</option>
                        <option>DFS</option>
                    </select>

                </div>
            </div>
        </div>


        <div class="col-sm-8 text-center">
            <canvas id="mazeCanvas" tabindex="1" class="maze-board" width="500" height="500"></canvas>
        </div>
    </div>

   <script>
        var apiUrl = "../api/Maze/"
        $("#startBtn").click(function () {
            var name = $("#mazeName").val();
            var rows = $("#mazeRows").val();
            var cols = $("#mazeCols").val();
            /*$.getJSON(apiUrl + "?name=" + name + "&rows=" + rows + "&cols=" + cols).done(function(data) {
                document.write(data);
                console.log(data);
            });*/
            $.getJSON(apiUrl).done(function (data) {
                console.log("hello");
                
            });
            
        });
    </script>

</body>
</html>